<table class="table">
    <thead>
    <tr>
        <th>{% trans %}User{% endtrans %}</th>
        <th>{% trans %}Living Wage{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
        {% for user, amount in livingWage.map %}
            <tr>
                <td>{{ user.fullname }}</td>
                <td>{{ amount | format_currency('EUR') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

Total: {{ livingWage.total | format_currency('EUR') }}
