{% extends 'base.html.twig' %}

{% block header %}
    {{ sonata_block_render({ type: 'app.block.topbar' }) }}
    <div class="container-with-topbar">
        {{ sonata_block_render({ type: 'app.block.flash' }) }}
{% endblock %}

{% block footer %}
    </div>
{% endblock %}
