<div data-part-body>
    {{ sonata_block_render({ type: 'app.block.flash' }) }}
    {% block ajax_card_body %}{% endblock %}
</div>
<div data-part-footer>
    {% block ajax_card_footer %}{% endblock %}
</div>
