
{% set card_classes = block('card_classes') is defined ? "card " ~ block('card_classes') : "card" %}

<div class="{{ card_classes }}" {% block card_attributes %}{% endblock %}>
    {% if block("header") is defined %}
        <div class="card-header">
            {{ block("header") }}
        </div>
    {% endif %}

    <div class="card-body">
        {% if block("title") is defined %}
            <h5 class="card-title">
                {{ block("title") }}
            </h5>
        {% endif %}

        {% block body %}{% endblock %}
    </div>

    {% if block("footer") is defined %}
        <div class="card-footer">
            {{ block("footer") }}
        </div>
    {% endif %}
</div>