{% extends 'components/card.html.twig' %}

{% block card_attributes %}
    data-controller="card-account"
{% endblock %}

{% block header %}
    <div class="d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            {{ account.name }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-8">
            {% trans %}Resources{% endtrans %}
        </div>
        <div class="col-12 col-md-4 text-end">
            {{ account.totalResources | format_currency('EUR') }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            {% trans %}Charges{% endtrans %}
        </div>
        <div class="col-12 col-md-4 text-end">
            {{ account.totalCharges | format_currency('EUR') }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="d-flex align-items-center">
        <div class="flex-fill">Total</div>
        <div class="text-end ps-1">{{ account.total(app.user) | format_currency('EUR') }}</div>
    </div>
{% endblock %}
